.markdown-image {
  max-width: 100%;
  padding-top: 1.5rem;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  min-height: 60vh;
}
.description {
  display: flex;
  &__content {
    width: 950px;
    overflow: scroll;
  }
  &__cards {
    height: fit-content;
    width: 20rem;
    margin-left: 1rem;
    position: sticky;
    top: 78px;
  }
}
