.markdown-image {
  max-width: 100%;
  padding-top: 1.5rem;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  min-height: 60vh;
}
.description {
  &__content {
    max-width: 900px;
    overflow: scroll;
  }
}
