@import "../../../../scss/mixin/_mixin.scss";

$count-color: #4285f4;

:host {
	display: block;
	border-radius: 4px;
	border: 1px solid #ddd;
	background: white;
	padding: 1rem 1.5rem;
}

:host ::ng-deep div[countBox-part="icon"] {
	display: flex;
}

:host ::ng-deep div[countBox-part="icon"] svg {
	width: 25px;
	height: 25px;
}

:host ::ng-deep div[countBox-part="icon"] .fa {
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.count-top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-wrap {
	width: 42px;
	height: 42px;
	margin-bottom: 0.5rem;
	font-size: 24px;
	color: black;
	display: flex;
	justify-content: left;
	align-items: flex-end;
}

.icon-wrap svg,
.icon-wrap .fa {
	width: 32px;
	height: 32px;
	font-size: 30px;
}

.count-label {
	font-size: 28px;
	margin-bottom: 0;
}

.count-number{
  color: $count-color;
  font-weight: 100;
}

.count-progress{
  height: 4px;
  border-radius: 4px;
  width: 1%;
  background: $count-color;
  transition: all cubic-bezier(0.01, 0.86, 0.32, 0.97) 320ms 200ms;
}

