.spa-notifications-list {
    margin-top: 2.5rem;
    &__accordion {
        border: 1px solid #F0F0F0;
        &--head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            cursor: pointer;
            border-left: 3px solid transparent;
            .head-info {
                .headline {
                    font-size: 20px;
                    color: #151515;
                }
                .info {
                    margin-top: .5rem;
                    span {
                        font-size: 14px;
                        color: #4D4D4D;
                    }
                    a {
                        font-size: 14px;
                        margin-right: 2rem;
                    }
                }
            }
            .head-util {
                em {
                    margin-left: 2rem;
                }
            }
            &:hover {
                box-shadow: 0px 3px 6px #00000029;
            }
        }   
        &--body {
            padding: .5rem 2rem;
            button {
                float: right;
                margin-bottom: 1rem;
            }
            table {
                thead {
                    background: #F3F3F3;
                }
                tbody {
                    .target-name {
                        background: #F0F0F0;
                        font-size: 14px;
                        margin: 0 .2rem;
                        text-transform: uppercase;
                        color: #000000;
                        padding: 4px 8px;
                        font-weight: 500;
                    }
                    .view-more {
                        font-weight: 600;
                        font-size: 16px;
                        text-transform: uppercase;
                        cursor: pointer;
                        float: right;
                    }
                    tr {
                        td {
                            .view-more-expanded {
                                &__head {
                                    display: flex;
                                    justify-content: space-between;
                                    &--info {
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 1rem;
                                        div {
                                            margin: .5rem 0;
                                        }
                                        span {
                                            color: #2E2E2E;    
                                            font-size: 14px;          
                                        }
                                    }
                                    &--btns {
                                        margin-top: 0.5rem;
                                        button {
                                            margin-right: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .active {
        border-left: 3px solid #0576a4;
        box-shadow: 0px 3px 6px #00000029;
    }
}