.App {
   > h3 {
      margin-left: 2rem;
      font-size: 36px;
   }
   > p {
      margin-left: 2rem;
      color: #151515;
      max-width: 60%;
   }
   .breadcrumbs {
      margin-left: 2rem;
      margin-top: .5rem;
   }
   main {
       min-height: 75vh;
   }
}
