@import "../colors/colors";
@import "../mixin/_mixin.scss";
@import "../typography/typography.scss";
@import "~bootstrap/scss/bootstrap.scss";

.modal-header {
	align-items: center;
	padding: 15px 25px;
}
.modal-header h5 {
	margin: 0 !important;
	padding: 6px 20px;
}
.op-modal-header-primary{
    background: $primary;
}
.op-modal-header-red{
    background: $red;
}

.op-modal-header-primary,
.op-modal-header-red {
    color: $white;
}

.op-modal-header-primary h5,
.op-modal-header-red h5{
    margin: 0 !important;
    color: $white;
}  
.op-modal-header-primary button span,
.op-modal-header-red h5{
    color: $white;
    opacity: 1;
} 
.modal-body{
    padding: 20px 40px 30px 40px
}
.empty-state-container{
    color: $grey;
    padding: 1em;
    text-align: center;
    line-height: 2em;
    font-size: 1rem;
    width: 100%;
}
.empty-state-container strong{
    font-weight: 500;
}
.modal{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.op-row{
    @include op-row;
}

.op-search input {
    font-size: 15px;
    text-align: center;
}

.op-search input:focus {
	box-shadow: none !important;
}

.op-search .input-group-append{
    
        @include input-search-icon;
        color: rgba(0,0,0,0.6);
}