:host {
  --op-nav__height: 3.5rem;
  --op-transition--default: 120ms ease-in-out;
  --op-highlight__color: #e00;
  --op-menu-drawer__width: 25rem;
  --op-user-proflie-icon__radius: 5rem;
  --op-highlight__color-blue: #0070e0;
  --op-transition--default: 120ms ease-in-out;
  --op-menu--icon-size: 4rem;

  display: block;
  z-index: 9000;
  position: relative;
}
:host([hidden]) {
  display: none;
}
* {
  outline-width: medium;
  font-family: "Red Hat Text", "Open Sans", Arial, Helvetica, sans-serif;
}

.op-nav {
  height: var(--op-body__paddingTop, var(--op-nav__height));
  z-index: 3;
}
.op-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--op-nav__height);
  padding: 0 1.5rem;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.op-logo {
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  height: var(--op-nav__height);
  font-family: "Red Hat Display", "Open Sans", Arial, Helvetica, sans-serif;
}
.op-logo__img {
  height: 2rem;
}

.op-search {
  flex: 1 0 auto;
  max-width: 720px;
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  position: relative;
}
.op-search__btn {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0.75rem;
  border-radius: 50%;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
.op-search__btn:hover,
.op-search__btn:focus {
  background: #ddd;
}
.op-search-bar__input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2.75rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: #f5f5f5;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  transition: all var(--op-transition--default);
  /* WKRD: for Safari */
  -webkit-appearance: none;
}
.op-search-bar__input:focus {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.16);
  border-color: #eee;
  background: #fff;
}

.op-menu-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.op-menu__item-button {
  height: var(--op-nav__height);
  width: calc(var(--op-nav__height) + 0.5rem);
  padding: 0;
  padding-top: 0.125rem;
  box-sizing: border-box;
  font-size: 0.625rem;
  text-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--op-transition--default);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.op-menu__item-button:hover,
.op-menu__item-button:focus {
  background-color: #f1f1f1;
  text-decoration: underline;
}
.op-menu__item-button[data-active] {
  font-weight: 500;
}
.op-menu__item-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 0.125rem;
  top: -0.125rem;
  background: #e00;
  border-radius: 0 0 0.125rem 0.125rem;
  transition: all var(--op-transition--default);
}
.op-menu__item-button:hover::before,
.op-menu__item-button[data-active]::before {
  top: 0;
}

.op-menu__item-button > * {
  pointer-events: none;
}

.op-nav__item-dot {
  position: absolute;
  top: .5rem;
  right: 1.25rem;
  display: inline-block;
  background: var(--op-highlight__color);
  width: .5rem;
  height: .5rem;
  border-radius: .25rem;
}
.op-nav__item-dot[disabled] {
  display: none;
}

.op-nav__icon {
  display: block;
  font-size: 1.25rem;
}

.op-menu__item-button .op-nav__icon {
  margin-bottom: 0.25rem;
}

/* Drawer */
.op-menu-drawer {
  position: fixed;
  top: var(--op-nav__height);
  left: auto;
  right: 0;
  width: var(--op-menu-drawer__width);
  max-width: 100vw;
  padding: 2rem;
  padding-top: 1rem;
  box-sizing: border-box;
  height: calc(100vh - var(--op-nav__height));
  background: rgba(255,255,255,.97);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16);
  border: none;
  border-top: 1px solid #ddd;
  overflow-y: auto;
  z-index: 0;
}
.op-menu-drawer:not([open]) {
  /* WKRD: if the user agent stylesheet does not support dialog elements */
  display: none;
}
.op-menu-drawer[data-type="app"] {
  right: 0;
  left: 0;
  width: 100vw;
}
.op-menu-drawer[data-type="user"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.op-menu-drawer[data-type="user"] > .op-user-profile-icon {
  background: #eee;
  box-sizing: border-box;
  width: var(--op-user-proflie-icon__radius);
  height: var(--op-user-proflie-icon__radius);
  border-radius: calc(var(--op-user-proflie-icon__radius) / 2);
  display: grid;
  place-content: center;
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 1.5rem 2rem;
}

.op-menu-drawer > h3,
.op-menu-drawer__title {
  position: sticky;
  top: -1rem;
  padding: 0.5rem 1rem;
  margin: 0 -1rem 0.5rem;
  background: rgba(255,255,255,.97);
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: .25rem;
  z-index: 1;
}
.op-menu-drawer > p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.op-menu-drawer__notifications-count {
  display: inline-grid;
  place-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.64);
  border-radius: 1rem;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.op-menu-drawer__notifications-list {
  margin: 0 -1rem;
  padding: 0;
  list-style: none;
}
.op-menu-drawer__notification-item {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  background-color: var(--pfe-toast__container--BackgroundColor, #fff);
}
.op-menu-drawer__notification-subject a {
  color: inherit;
  text-decoration: inherit;
}
.op-menu-drawer__notification-time {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  opacity: 0.75;
}
.op-menu-drawer__notification-subject {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
.op-menu-drawer__notification-body {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  opacity: 0.87;
}

.op-menu-drawer__notification-item:hover {
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.16);
}
.op-menu-drawer__notification-item:hover .op-menu-drawer__notification-subject,
.op-menu-drawer__notification-toast:hover
  .op-menu-drawer__notification-subject {
  color: var(--op-highlight__color-blue);
}

.op-menu__toast-container {
  position: fixed;
  right: 0;
  top: var(--op-nav-height);
  height: auto;
  max-height: 100vh;
  z-index: 1;
}

.op-menu-drawer__notification-toast {
  position: relative;
  margin: 0.5rem 0;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.24);
  border-radius: 0.25rem;
  overflow: hidden;
  transition: var(--op-transition--default);
  --pfe-toast--Top: 0;
  --pfe-toast--Right: 0.5rem;
  --pfe-toast--MinWidth: 23rem;
  --pfe-toast--MaxWidth: 26rem;
  --pfe-toast__container--BoxShadow: none;
}
.op-menu-drawer__notification-toast:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.32);
}

.op-toast__success {
  border-top: .25rem solid #3E8635;
}
.op-toast__info {
  border-top: .25rem solid #2B9AF3;
}
.op-toast__muted {
  border-top: .25rem solid #151515;
}
.op-toast__warning {
  border-top: .25rem solid #F0AB00;
}
.op-toast__danger {
  border-top: .25rem solid #CE2615;
}

.op-user-profile-btn {
  color: var(--op-highlight__color-blue);
}

.op-user-signout-btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 1px solid #ddd;
  margin: 1rem;
  cursor: pointer;
  transition: all var(--op-transition--default);
}
.op-user-signout-btn:hover {
  color: var(--op-highlight__color);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.16);
}

.op-menu-drawer__empty-state {
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
  min-height: 6rem;
  display: grid;
  place-content: center;
}

.op-menu-drawer__app-list {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 0;
  margin: 0 auto;
  grid-auto-flow: row;
  list-style: none;
}

.op-menu-drawer__app-list-item a {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
  transition: all 120ms ease-in-out;
}
.op-menu-drawer__app-list-item a div {
  background: #cc0000;
  width: var(--op-menu--icon-size);
  height: var(--op-menu--icon-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.op-menu-drawer__app-list-item a span {
  margin-top: 0.75rem;
  text-align: center;
}
.op-menu-drawer__app-list-item a div img {
  height: calc(var(--op-menu--icon-size) / 2);
  width: calc(var(--op-menu--icon-size) / 2);
}
.op-menu-drawer__app-list-item a:hover {
  border-color: #eee;
  background: white;
}
.op-menu-drawer__app-list-item a:hover > div {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16);
}

.inactive {
  color: #a0a0a0;
  cursor: not-allowed;
}
.inactive a {
  pointer-events: none;
}
.inactive a div {
  background: #f3f3f3;
}
.inactive a div img {
  filter: brightness(0.3);
}
