:host {
  --op-nav__height: 3.5rem;
  --op-transition--default: 120ms ease-in-out;
  --op-highlight__color: #e00;

  display: block;
  z-index: 10000;
  position: relative;
}
:host([hidden]) {
  display: none;
}
* {
  outline-width: medium;
  font-family: 'Red Hat Text', 'Open Sans', Arial, Helvetica, sans-serif;
}

.op-nav {
  height: var(--op-body__paddingTop, var(--op-nav__height));
}
.op-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--op-nav__height);
  padding: 0 1.5rem;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.16);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.op-logo {
  display: block;
  margin-left: .5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  height: var(--op-nav__height);
  font-family: 'Red Hat Display', 'Open Sans', Arial, Helvetica, sans-serif;
}
.op-logo__img {
  height: 2rem;
}

.op-search {
  flex: 1 0 auto;
  max-width: 720px;
  margin-left: .5rem;
  margin-right: 1rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  position: relative;
}
.op-search__btn {
  position: absolute;
  left: 0;
  padding: .75rem;
  border-radius: 50%;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
.op-search__icon {
  width: 1rem;
  height: 1rem;
  display: block;
}
.op-search__btn:hover, .op-search__btn:focus {
  background: #ddd;
}
.op-search-bar__input {
  border: 1px solid transparent;
  background: #f5f5f5;
  padding: .5rem;
  padding-left: 2.5rem;
  line-height: 1.5rem;
  width: 100%;
  border-radius: .5rem;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  transition: all var(--op-transition--default);
}
.op-search-bar__input:focus {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.16);
  border-color: #eee;
  background: #fff;
}

.op-menu-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.op-menu__item-button {
  display: block;
  height: var(--op-nav__height);
  width: calc(var(--op-nav__height) + .5rem);
  padding: 0;
  padding-top: .125rem;
  box-sizing: border-box;
  font-size: .625rem;
  text-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--op-transition--default);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.op-menu__item-button:hover, .op-menu__item-button:focus {
  background-color: #f1f1f1;
  text-decoration: underline;
}
.op-menu__item-button.active {
  font-weight: 500;
}
.op-menu__item-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: .125rem;
  top: -.125rem;
  background: #e00;
  border-radius: 0 0 .125rem .125rem;
  transition: all var(--op-transition--default);
}
.op-menu__item-button:hover::before, .op-menu__item-button.active::before {
  top: 0;
}

.op-nav__icon {
  display: block;
  font-size: 1.25rem;
}

.op-menu__item-button .op-nav__icon {
  margin-bottom: .25rem;
}