.app-details--sidebar {
  height: var(--max-page-height);
  background: #fff;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  position: sticky;
  top: var(--op-nav__height);
}
.app-menu--list {
  margin: .25rem;
  margin-bottom: 1.5rem;
}
.app-menu--list .pf-c-options-menu__toggle {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.16);
  width: 100%;
  padding: .5rem 1rem;
  padding-top: 1.875rem;
  box-sizing: border-box;
  border-radius: .5rem;
  overflow: hidden;
  transition: all 120ms ease;
}
.app-menu--list .pf-c-options-menu__toggle::before {
  content: 'Application:';
  font-size: .75rem;
  padding: .75rem 1rem;
  text-align: left;
  color: rgba(0,0,0,.32);
  border-bottom: none;
}
.app-menu--list:hover .pf-c-options-menu__toggle {
  box-shadow: 0 .25rem .25rem rgba(0,0,0,.16);
}

.app-details--sidebar--main-nav {
  flex: 1 0;
  overflow-y: auto;
}
.app-details--sidebar--title {
  margin-top: 1rem;
  margin-bottom: .25rem;
  position: sticky;
  top: -.25rem;
  background: #fff;
  z-index: 1;
}
.app-details--sidebar--settings {
  position: relative;
}
.app-details--sidebar--settings::before {
  content: '';
  height: 1px;
  width: calc(100% - var(--pf-c-nav__link--PaddingLeft, 5%) * 2);
  margin-left: var(--pf-c-nav__link--PaddingLeft, 5%);
  margin-right: var(--pf-c-nav__link--PaddingRight, 5%);
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.pf-c-nav.pf-m-light {
  --pf-c-nav__link--m-current--Color: var(--color-active);
  --pf-c-nav__link--before--BorderColor: transparent;
  --pf-c-nav__section-title--BorderBottomWidth: 0;
}
.pf-c-nav__link.pf-m-current {
  background-color: #fff;
  font-weight: bold;
}
