/* Auth and API Permission */
.user-auth-and-api {
  margin-top: 4rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.toolbar p {
  color: #72767b;
}
