.header {
    border-bottom: 1px solid #DDDDDD;
    height: 8rem;
    &__links {
        margin: 1.5rem;
    }
    &__link {
        text-decoration: none;
        margin: 1rem;
        color: #000000;
    }
    .active {
        color: blue;
    }
    &__panel-name {
        margin-left: 1.5rem;
        color: #000000;
        font-size: 1.2rem;
    }
}