:host {
  --op-transition--default: 120ms ease-in-out;
  --op-feedback__btn-primary: #b70202;
  --op-feedback__bg-primary: #fceaeb;

  position: relative;
  z-index: 9000;
}
* {
  outline-width: medium;
  font-family: 'Red Hat Text', 'Open Sans', Arial, Helvetica, sans-serif;
}

.op-feedback__button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #c00;
  color: white;
  border: none;
  line-height: 2rem;
  padding: .5rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;

  border-radius: 2rem;
  border-bottom-right-radius: .25rem;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.16);

  transition: all var(--op-transition--default);
}
.op-feedback__button:hover, .op-feedback__button:focus,
.op-feedback__panel[open] + .op-feedback__button {
  background: #a30000;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.24);
}
.op-feedback__panel[open] + .op-feedback__button {
  border-radius: 2rem;
  border-top-right-radius: .25rem;
}
.op-feedback__icon {
  font-size: 1.25rem;
  margin-right: .5rem;
}

.op-feedback__panel {
  position: fixed;
  bottom: 5.25rem;
  right: 1.5rem;
  margin-right: 0;
  padding: 0;
  width: 20rem;
  max-width: calc(100vw - 3rem);

  background: white;
  border: none;
  border-radius: .75rem;
  border-bottom-right-radius: .25rem;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.24);
  overflow: hidden;

  transition: all var(--op-transition--default);
  display: block;
  opacity: 0;
  transform: translateY(2rem);
  perspective-origin: bottom right;
}
.op-feedback__panel[open] {
  transform: translateY(0);
  opacity: 1;
}
.op-feedback__panel:not([open]) {
  pointer-events: none;
}

.op-feedback__header {
  background: var(--op-feedback__bg-primary);
  padding: 1.25rem 1.5rem;
  color: #c00;
}
.op-feedback__title {
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
}
.op-feedback__options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.op-feedback__options li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.op-feedback__option-item {
  background: transparent;
  border: none;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  transition: background var(--op-transition--default);
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.op-feedback__option-item:hover,
.op-feedback__option-item:active,
.op-feedback__option-item:focus {
  background: #f5f5f5;
}
.op-feedback__option-icon {
  margin-right: .75rem;
}
.op-feedback__option-item[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
.op-feedback__icon-secondary {
  margin-left: .25rem;
  height: .75rem;
}

/* Forms */
.op-feedback__form {
  padding: 1rem 1.5rem;
}
.op-feedback__form-title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.op-feedback__form-label {
  display: block;
  margin-bottom: .5rem;
}
.op-feedback__form-label .red {
  color: #e00;
}
.op-feedback__form-input {
  display: block;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #eee;
  padding: .5rem 1rem;
  line-height: 1.25rem;
  border-radius: .5rem;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
select.op-feedback__form-input {
  height: 2.375rem;
}

/* Form Radio Group */
.op-feedback__form-radio-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-rows: 0 1fr;
  column-gap: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}
input[type=radio].op-feedback__form-radio {
  opacity: 0;
}
.op-feedback__form-radio-label {
  padding: .5rem .75rem;
  background: white;
  border: 1px solid #eee;
  border-radius: 1rem;
  font-size: .625rem;
  color: rgba(0,0,0,.75);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.op-feedback__form-radio-icon {
  display: block;
  margin: .5rem;
  font-size: 1rem;
}
.op-feedback__form-radio:checked + .op-feedback__form-radio-label {
  /* border-color: #4285F4; */
  background: var(--op-feedback__bg-primary);
  color: var(--op-feedback__btn-primary);
  font-weight: 500;
  border-color: transparent;
}
.op-feedback__form-radio:focus + .op-feedback__form-radio-label {
  background: var(--op-feedback__bg-primary);
  border-color: transparent;
}

/* Form Actions */
.op-feedback__form-actions {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  grid-auto-columns: 1fr;
  align-items: center;
}
.op-feedback__form-button {
  background: white;
  border: none;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: all var(--op-transition--default);
}
.op-feedback__form-button:hover, .op-feedback__form-button:active {
  background: #f5f5f5;
}
.op-feedback__form-button[type=submit] {
  background: var(--op-feedback__bg-primary);
  color: var(--op-feedback__btn-primary);
  margin-left: .25rem;
}
.op-feedback__form-button[type=submit]:hover,
.op-feedback__form-button[type=submit]:active {
  background: var(--op-feedback__btn-primary);
  color: white;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.16);
}

.op-feedback__form-button:not([type=submit]) .op-feedback__form-icon {
  margin-right: .75rem;
}
.op-feedback__form-button[type=submit] .op-feedback__form-icon {
  margin-left: .75rem;
}
