.search {
    &-block {
        min-height: 61rem;
    }
    &-timestamp {
        color: var(--pf-global--Color--400);
        font-size: 13px;
    }
    &-title {
        color: var(--pf-global--primary-color--100);
        font-size: 16px;
    }
    &-abstract {
        color: var(--pf-global--BackgroundColor--dark-200);
        font-size: 14px;
    }
    &-tag {
        font-size: 12px;
        font-weight: calc(var(--pf-global--FontWeight--light
    ) - 100);
    }
    &-result-section {
        margin-left: 540px;
    }
    &-no-result {
        background-color: #F5F9FB;
    }
    &-link {
        color: var(--pf-global--primary-color--100);
    }
    &-cursor {
        cursor: pointer;
    }
    &-filter__width {
        width: 9.74rem;
        .pf-c-select__toggle-text, .pf-c-check__label {
            font-size: 13px;
        }
    }
}
