:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.leaderboard {
  &--title-container {
    --pf-c-page--section--m-limit-width--MaxWidth: 1148px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &--card {
    max-width: 900px;
  }

  &--header {
    position: sticky;
    top: 136px;
    z-index: 5;
  }
}
