:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-input-container {
  width: 50%;
  max-width: 320px;
}

.checked-icon {
  color: #004daa;
  font-size: 10px;
}

.pf-c-dropdown__toggle {
  border: 1px solid #f0f0f0;
}
