.score-card {
  transition: all 0.12s linear;

  .score {
    width: 120px;
  }

  &:hover {
    box-shadow: 0 3px 6px #00000029;
  }
}

.score-loader-container {
  min-width: 720px;
}

@media screen and (min-width: 2100px) {
  .pf-l-grid > .pf-m-6-col-on-3xl {
    --pf-l-grid__item--GridColumnEnd: span 6;
  }
}

.line-chart-container {
  display: flex;
  overflow: hidden;
  padding: 2rem 0;
}

.export--btn {
  background-color: var(--pf-global--primary-color--100);
  color: var(--pf-c-button--m-primary--Color);
  :hover {
    background-color: var(--pf-global--primary-color--200);
  }
}
