
@import "../../../scss/component/_component.scss";
@import "../../../scss/colors/colors";
@import "../../../scss/mixin/_mixin.scss";

:host {
	display: block;
}
// Styles
.feedback-section{
    @include grid;
}

.stat{
    margin: 30px 0 30px;
    display: flex;
}
.stat op-count-box{
    flex: 1;
    margin: 0 5px;
}
.clickable{
    cursor: pointer;
    transition: all 320ms ease-in-out;
}

.clickable:hover {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.active {
	background: rgba(22, 112, 230, 0.1);
	border: 1px solid rgba(22, 112, 230, 0.3);
	border-radius: 5px;
}

.fb-secondary {
	font-size: 14px;
	color: gray;
}

.fb-title {
	font-weight: bolder;
}

.grey{
  color: $grey;
}

.green{
  color: green;
}

.op-search-flat {
	flex: 0 0 35%;
}

.pagination {
	margin: 2rem 0rem 1rem 0rem;
}

.feedback-toolbar {
	margin: 1rem 0rem 2rem 0.4rem;
}

.feedback-toolbar .left {
	display: flex;
}

.feedback-toolbar .left op-dropdown {
	margin-left: 1rem;
}


.search-bar	{
	  width: 34%;
}


.status-tabs{
  display: flex
}

.status-box {
	padding: 0.4rem 1rem;
	border: 0.5px solid #e1e0e061;
	cursor: pointer;
	transition: all 120ms ease-in-out;
}

.active-tab {
	background: rgba(22, 112, 230, 0.1);
	color: #1670e6;
	border: 1px solid rgba(22, 112, 230, 0.3);
	border-radius: 5px;
}

.feedback-panel {
	border: 1px solid #e4dfdfab;
}

.feedback-type-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(66, 133, 244, 0.1);
	color: #22457f;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-body {
	display: flex;
	flex-wrap: wrap;
}

.modal-body .modal-container {
	width: 90%;
	margin-left: 1.5rem;
}

.no-feedback-description {
	font-size: 14px;
	font-style: italic;
}

.modal-tag-group {
	display: flex;
}

.modal-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 50px;
	padding: 4px 10px;
	margin: 8px 10px 0 0;
}

.modal-tag-module-name {
	background: #ededed;
	color: #76828f;
}

.modal-tag-open {
	color: #28a745;
	background: rgba(40, 167, 69, 0.1);
}

.modal-tag-closed {
	color: #c00;
	background: rgba(204, 0, 0, 0.1);
}

.fi-modal-headings {
	color: #868e96;
	font-weight: 500;
}

.feedback-header-information {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
}

.feedback-header-information > div {
	flex: 0 50%;
}

.feedback-assignees,
.feedback-created-by {
	margin-bottom: 1rem;
}

.fi-modal-bold {
	font-weight: 500;
}

a.btn.fb-issue-link {
	border: 1px solid #d8d7d7ab;
	cursor: pointer;
}

a.btn.fb-issue-link:hover {
	box-shadow: 0px 0px 5px #ebe9e9;
}

.fi-modal-footer {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0 1rem 0;
}

.op-badge {
	margin-left: 2px;
	font-weight: 400;
}

.op-badge.op-open {
	color: green;
	border: 1px solid green;
}

.op-badge.op-close {
	color: #6c757d;
	border: 1px solid rgba(108, 117, 125, 0.75);
}

.spinner {
	display: grid;
	place-items: center;
	height: 60vh;
}
