@mixin button {
    display: inline-block;
    background: none;
    border: none;
    margin: 0;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}