@import './_colors.scss';
@import './_mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

:root {
  --op-app-height: 64px;
  --op-app-width: 64px;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1190px;
  margin: auto;
}

.button--danger {
  @include button;
  background: var(--op-red);
  color: var(--op-white);
  &:hover {
      background: var(--op-red-400);
  }
  &>a {
    color: var(--op-white);
    text-decoration: none;
  }
}
.button--light {
  @include button;
  color: #151515;
  padding: 0;
  i {
      margin-left: 0.5rem;
      transition: all 320ms ease-in-out;
  }
  &>a {
    color: #151515;
    text-decoration: none;
    padding: .8rem 2rem;
    border: 1px solid #A0A0A0;
  }
}

// Loader which needs to be changed when a loader web componenet is available
.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid mix(white,#177FC3,80%);
  border-right: 2px solid mix(white,#177FC3,80%);
  border-bottom: 2px solid mix(white,#177FC3,80%);
  border-left: 2px solid #151515;
  -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
  grid-column: 2;
}
.loader,
.loader:after {
  border-radius: 50%;
  width:30px;
  height: 30px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.band {
  background-color: var(--op-black);
  background-image: url(../img/left-footer-cubes.svg), url(../img/right-footer-cubes.svg);
  background-repeat: no-repeat;
  background-position: -38px center,calc(100% + 38px)  center;
  height: 238px;
  color: white;
  display: flex;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    a.pf-c-button.pf-m-danger {
      padding: 1rem 2rem;
    }
  }
  &__text {
    h1 {
      font-size: 2rem;
    }
    p {
      max-width: 750px;
      margin-top: 1rem;
    }
  }
}

.footer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  max-width: 778px;
  color: #ffffff;
  padding: 1.5rem 0;
  .footer__links-col {
      .footer__links {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          &>a {
              color: #ffffff;
              text-decoration: none;
              margin: 0 0 .5rem 0;
              font-size: 14px;
          }
      }
      .footer__links-header {
          font-size: 18px;
          letter-spacing: 0.6px;
          text-transform: uppercase;
      }
  }
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding-bottom: 1.5rem;
}

#fileFeedback {
  cursor: pointer;
}

footer {
  background-color: var(--op-black);
  background-image: url(../img/left-footer-cubes.svg), url(../img/right-footer-cubes.svg);
  background-repeat: no-repeat;
  background-position: -38px center,calc(100% + 38px)  center
}
