@import './_colors.scss';
@import './_mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1190px;
  margin: -2rem auto;
}

.button--primary {
  @include button;
  background: #0070E0;
  color: var(--op-white);
  &:hover {
      background: #0281ff;
  }
  &>a {
    color: var(--op-white);
    text-decoration: none;
  }
}
.button--light {
  @include button;
  color: #151515;
  border: 1px solid transparent;
  padding: 0;
  i {
      margin-left: 0.5rem;
      transition: all 320ms ease-in-out;
  }
  &>a {
    color: #151515;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid;
    }
  }
  &:hover {
      .fa.fa.fa-arrow-right {
          transform: translateX(3px);
      }
  }
}

// Loader which needs to be changed when a loader web componenet is available
.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid mix(white,#177FC3,80%);
  border-right: 2px solid mix(white,#177FC3,80%);
  border-bottom: 2px solid mix(white,#177FC3,80%);
  border-left: 2px solid #151515;
  -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
  grid-column: 2;
}
.loader,
.loader:after {
  border-radius: 50%;
  width:30px;
  height: 30px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.band {
  margin-top: 4.5rem;
  background: transparent linear-gradient(104deg, #E8E4F6 0%, #E2EAF5 100%);
  height: 31rem;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .band__header {
      font-size: 2.2rem;
      letter-spacing: 0.96px;
      color: var(--op-black);
      max-width: 700px;
      text-align: center;
  }
  .band__button--primary-border {
      @include button;
      color: #0066CC;
      letter-spacing: 0;
      border: 1px solid #0066CC;
      border-radius: 3px;
      font-weight: 600;
      padding: 1rem 1.8rem;
      margin-top: 2rem;
      transition: all 320ms ease-in-out;
      &:hover {
          box-shadow: 0px 1px 2px #0066CC;
      }
  }
}

.footer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  max-width: 778px;
  .footer__links-col {
      .footer__links {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          &>a {
              color: #333333;
              text-decoration: none;
              margin: 0 0 .5rem 0;
              font-size: 14px;
          }
      }
      .footer__links-header {
          font-size: 18px;
          letter-spacing: 0.6px;
          text-transform: uppercase;
      }
  }
}
.footer__copyright {
  text-align: center;
  margin: 3rem 0;
  font-size: 14px;
  color: #72767B;
}

#fileFeedback {
  cursor: pointer;
}
