.trash-button {
  --pf-c-button--m-secondary--Color: #6b736acc;
  --pf-c-button--m-secondary--after--BorderColor: #d2d2d2;
  --pf-c-button--m-secondary--hover--Color: #6b736acc;
  --pf-c-button--m-secondary--hover--after--BorderColor: #6b736acc;
}
