a {
  text-decoration: none;
  color: unset;
}

.loading-container {
  min-height: 25vh;
}

.lighthouse-search {
  background-color: #efefef;
  border-radius: 20px;
  border: 0;
  color: #3c3f42;
  outline: none;
}
