a {
  text-decoration: none;
  color: unset;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.loading-container {
  min-height: 25vh;
}

.lighthouse-search {
  background-color: #efefef;
  border-radius: 20px;
  border: 0;
  color: #3c3f42;
  outline: none;
}

.step-dot {
  background-color: #fff;
  border-radius: 999em;
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  span {
    position: absolute;
    left: 0;
    top: 65%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: #000;
  }
}
