@import "../../../../scss/component/component";

:host {
	display: inline-block;
}

:host:hover {
	cursor: pointer;
}

$primary: #4285F4;
$red: #cc0000;
$white: #ffffff;
$black: #000000;

$flat-border-color: #cccccc;
$flat-text-color: #666666;

button {
	font-size: 14px !important;
}

button .fa {
	margin-right: 5px;
}

.dropdown-item {
	font-size: 14px;
}

.show {
	display: block;
}

.op-active,
.op-primary {
	background: #eee;
}

.op-active:hover,
  .op-primary:hover {
	background-color: #eee;
}

.op-flat{
    @include op-flat(transparent, currentColor);
}

.op-outline-black{
    background-color: transparent;
    color: $flat-text-color;
    border: 1px solid $flat-border-color;
}

.op-outline-w-padding{
    background-color: transparent;
    color: $flat-text-color;
    border: 1px solid $flat-border-color;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
}

.dropdown-item:not(.op-active):hover {
	background-color: #e4e4e4;
}

.dropdown-menu {
	max-height: 16rem;
	overflow: scroll;
}