#root {
  min-height: var(--max-page-height);
  background-color: #fafafa;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 2rem);
  padding: 1.5rem 0;
}
@media screen and (min-width: 800px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    max-width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 65%;
  }
}

a {
  text-decoration: none;
}

ion-icon {
  margin-bottom: -3px;
}
