body {
  background-color: #fefefe;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 2rem);
  padding: 1.5rem 0;
}
@media screen and (min-width: 900px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    max-width: 85%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 65%;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 55%;
  }
}

main.container {
  z-index: 0;
}

a {
  text-decoration: none;
}

ion-icon:not([data-reset-margin]) {
  margin-bottom: -3px;
}

.pf-c-backdrop{
  --pf-c-backdrop--ZIndex: 999 !important;
}

.pf-c-card.pf-m-rounded {
  --pf-c-card--m-rounded--BorderRadius: .5rem;
}

.pf-c-button {
  --pf-c-button--BorderRadius: .5rem !important;
  --pf-c-button--after--BorderRadius: .5rem !important;
}
