pfe-card {
  max-width: 520px;
  border-radius: 5px;
  margin: .5rem;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 48px;
      height: 48px;
    }
    h3 {
      font-size: 22px;
      color: #000000;
    }
    p {
      color: #3C3F42;
    }
  }
}
