@mixin grid{
  max-width: 1170px;
  margin: 0 auto;
}

@mixin flex($direction: row){
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin margin-top($space){
  margin-top: $space  !important;
}

@mixin margin-right($space){
margin-right: $space !important;
}

@mixin margin-bottom($space){
  margin-bottom: $space !important;
}

@mixin margin-left($space){
  margin-left: $space !important;
}
