:host {
  --pf-c-nav__link--m-current--BackgroundColor: #2866cc1a;
}

.app-layout-container {
  --pf-c-page__main--ZIndex: 0;
  height: calc(100% - 60px);

  .sidebar {
    border-right: 0.5px solid #d2d2d2;
    --pf-c-page__sidebar--ZIndex: 0;
  }
}

nav {
  min-width: 256px;
}

.pf-c-nav__link {
  padding: 12px 24px;
  opacity: 0.8;
}

.pf-m-current {
  font-weight: 600;
}

.content {
  overflow-y: auto;
}

.icon {
  font-size: 12px;
  margin-left: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}
