// mixin
@mixin cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  gap: 1.5rem;
}
@function toRem($pxs) {
  $remValue: ($pxs /16) + rem;
  @return $remValue
}


.header {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  transform: translate(20px, 9rem);
  margin: auto;
  &__content {
    flex: 1 0 21.875rem;
  }
  &__action-buttons {
    margin-top: 1.5rem;
    a {
      color: #C9190B;
      background-color: #FAEAE8;
      font-weight: bold;
    }
  }
  &__content-heading {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
  &__illustration {
    max-width: 25rem;
    height: 31.25rem;
    transform: translate(20px, -10rem);
    .transform-node {
      &-app {
        transform: translate(18rem, -6.5rem);
      }
      &-spaship {
        transform: translate(18rem, -10.5rem);
      }
      &-gateway {
        transform: translate(18rem, -15.5rem);
      }
      &-core {
        transform: translate(18rem, -26.5rem);
      }
    }
    &-connector {
      position: absolute;
      display: flex;
      align-items: center;
      animation: nodetext 3.5s infinite;
      & > span {
        color: #A0A0A0;
        margin-left: 0.5rem;
      }
    }
    &-node {
      display: flex;
      align-items: center;
      &-start {
        border-top: 1px solid #A0A0A0;
        border-bottom: 1px solid #A0A0A0;
        border-right: 1px solid #A0A0A0;
        width: toRem(30);
        &.medium {
          height: toRem(84);
        }
        &.small {
          height: toRem(40);
        }
        &.large {
          height: toRem(86);
        }
      }
      &-end {
        height: 1px;
        width: toRem(30);
        background: #A0A0A0;
      }

    }
    img {
      position: relative;
      width: toRem(280);
    }
    &-cubes {
      transform: translate(0px, 2.5rem);
      transition: all 320ms ease-in-out;
      animation: movecubes 3.5s infinite;
      z-index: 3;
    }
    &-spaship {
      transform: translate(0px, -3.5rem);
      transition: all 320ms ease-in-out;
      z-index: 2;
      animation: spaship 3.5s infinite;
    }
    &-gateway {
      transform: translate(0px, -8.5rem);
      transition: all 320ms ease-in-out;
      z-index: 1;
      animation: gateway 3.5s infinite;
    }
    &-core {
      transform: translate(0px, -15.5rem);
      transition: all 320ms ease-in-out;
      animation: core 3.5s infinite;
    }
  }
}

.section {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 2rem;
  margin: 5rem auto;
  &__main > div {
    margin-bottom: 7rem;
  }
  // Sidebar
  &__sidebar {
    position: sticky;
    top: toRem(72);
    height: toRem(230);
    margin-top: 4.5rem;
    &-header {
      text-transform: uppercase;
    }
    &-links {
      div {
        ul {
          li {
            a {
              --pf-c-tabs__link--after--BorderColor: #EE0000;
              &:hover {
                --pf-c-tabs__link--after--BorderColor: #D2D2D2;
              }
            }
          }
        }
      }
    }
  }
  // Common header
  &__header {
    color: #151515;
    font-size: 2.25rem;
    padding: 4rem 0 0 0;
  }
  // app-deployment section and cards
  &__app-deployment {
    &-cards {
      @include cards;
    }
    &-card {
      height: 24rem;
      width: 20rem;
      border: 1px solid #D2D2D2;
      border-radius: 5px 5px 3px 3px;
      padding: 1rem;
      &-image {
        height: 9.75rem;
        width: 9.75rem;
        border-radius: 50%;
        background-color: #FAFAFA;
        margin: 0 auto 3rem auto;
      }
      &-header {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      &-description {
        font-size: 1.125rem;
      }
    }
  }
  // microservice section and cards
  &__microservices {
    &-cards {
      @include cards
    }
    &-card {
      height: 21rem;
      width: 20rem;
      border: 1px solid #D2D2D2;
      border-radius: 3px;
      padding: 1rem;
      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        &-image {
          display: grid;
          place-items: center;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          img {
            max-width: 2.5rem;
            max-height: 2.5rem;
          }
        }
        h3 {
          margin-left: 1rem;
          font-size: 1.5rem;
        }
      }
      &-description {
        font-size: 1.125rem;
        color: #151515;
        margin-bottom: 2rem;
        height: 7.5rem;
        overflow: hidden;
      }
      &-cta {
        border: 1px solid #151515;
        color: #151515;
        font-weight: bolder;
        padding: 1rem 2rem;
        &:hover {
          text-decoration: none;
          box-shadow: 1px 2px 3px #ddd;
        }
      }
    }
  }
  // application section and cards
  &__applications {
    &-cards {
      @include cards;
    }
    &-card {
      width: 14rem;
      height: 12rem;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      &-image {
        background-color: #fafafa;
        height: 80%;
        display: grid;
        place-content: center;
        img {
          width: 3.5rem;
          height: 4rem;
        }
      }
      &-label {
        color: #151515;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      li {
        button {
          --pf-c-tabs__link--after--BorderColor: #EE0000;
          &:hover {
            --pf-c-tabs__link--after--BorderColor: #D2D2D2;
          }
        }
      }
    }
  }
}

@keyframes movecubes {
  0% {
    transform: translate(0px, 7.5rem);
  }
  50% {
    transform: translate(0px, 2rem);
  }
  100% {
    transform: translate(0px, 7.5rem);
  }
}

@keyframes spaship {
  0% {
    transform: translate(0px, -2em);
  }
  50% {
    transform: translate(0px, -4rem);
  }
  100% {
    transform: translate(0px, -2rem);
  }
}

@keyframes gateway {
  0% {
    transform: translate(0px, -11.5rem);
  }
  50% {
    transform: translate(0px, -8.5rem);
  }
  100% {
    transform: translate(0px, -11.5rem);
  }
}

@keyframes core {
  0% {
    transform: translate(0px, -22rem);
  }
  50% {
    transform: translate(0px, -15.5rem);
  }
  100% {
    transform: translate(0px, -22rem);
  }
}

@keyframes nodetext {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

