.header {
  background-image: radial-gradient(#151515 14%, transparent 22%), linear-gradient(#151515, #000);
  background-size: 24px 24px, 100% 100%;
  background-position: center;
  background-repeat: repeat, no-repeat;

  color: white;

  &-explore-button {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
  }
}

.add-api-section {
  background: #0066cc;
  color: white;
  border-radius: 8px;

  &--container {
    background: white;
    padding: 60px 0 !important;
  }
}

.catalog-search {
  &-container {
    position: relative;
  }

  &-menu {
    position: absolute;
    top: 72px;
    width: 75%;
    border-radius: 8px;
  }
}
