/* You can add global styles to this file, and also import other style files */
@import "./scss/typography/typography.scss";

*,
*::after,
*::before,
html,
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "FontAwesome", "Red Hat Text", "Interstate", "Open Sans", Helvetica, sans-serif;
}